.pagination {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
  }
  
  .page-controller {
    width: 30px;
    height: 30px;
    display: flex;
  }
  
  select {
    border: 1px solid #d1cccc;
    border-radius: 0.2rem;
  }
  